include ../helpers/mixins

block vars
	- const baseDir = ''
	-
		const title = 'Главная'
		const description = 'описание страницы'
	-
		const html = {
			attrs: {
				lang: 'ru'
			},
			classList: []
		}
	-
		const body = {
			attrs: {},
			classList: []
		}
	-
		const meta = {
			charset: 'utf-8',
			description: description,
			formatDetection: {
				address: true,
				date: true,
				email: true,
				telephone: true
			},
			keywords: [],
			viewport: 'width=device-width, initial-scale=1, shrink-to-fit=no',
			XUACompatible: 'IE=edge'

		}
	-
		const link = {


		}
doctype html
html(class=html.classList)&attributes(html.attrs)
	head
		block head-start
		block meta
			if meta.charset !== null
				meta(charset!=meta.charset)
			if meta.XUACompatible !== null
				meta(http-equiv="X-UA-Compatible" content!=meta.XUACompatible)
			if meta.viewport !== null
				meta(name="viewport" content!=meta.viewport)
			if meta.description !== null
				meta(name="description" content!=meta.description)
			if meta.keywords !== null && !(Array.isArray(meta.keywords) && !meta.keywords.length)
				meta(name="keywords" content!=(Array.isArray(meta.keywords) ? meta.keywords.join(', ') : meta.keywords))
			if title !== null
				title!= title
		block links
		block styles
			link(rel="stylesheet" href!=`${baseDir}assets/css/fancybox.min.css`)
			link(rel="stylesheet" href!=`${baseDir}assets/css/swiper.min.css`)
			link(rel="stylesheet" href!=`${baseDir}css/font.min.css`)
			link(rel="stylesheet" href!=`${baseDir}css/style.min.css?v=${Date.now()}`)
		block head-end
	body(class=body.classList)&attributes(body.attrs)
		block body-start
		block content
		block scripts
		block body-end
			script(src!=`${baseDir}assets/js/inputmask.min.js` defer)
			script(src!=`${baseDir}js/app.min.js?v=${Date.now()}`)



